@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .typo-colors {
    --tw-typo-body: #003333;
    --tw-typo-headings: #007267;
    --tw-typo-lead: #4b5563;
    --tw-typo-links: #bf664a;
    --tw-typo-bold: #111827;
    --tw-typo-light: #d1d5db;
    --tw-typo-invert-body: #d1d5db;
    --tw-typo-invert-headings: #b4d6d1;
    --tw-typo-invert-lead: #9ca3af;
    --tw-typo-invert-links: #fff;
    --tw-typo-invert-bold: #fff;
    --tw-typo-invert-light: #d1d5db;
  }

  .typo-invert {
    --tw-typo-body: var(--tw-typo-invert-body);
    --tw-typo-headings: var(--tw-typo-invert-headings);
    --tw-typo-lead: var(--tw-typo-invert-lead);
    --tw-typo-links: var(--tw-typo-invert-links);
    --tw-typo-bold: var(--tw-typo-invert-bold);
    --tw-typo-invert-light: var(--tw-typo-invert-light);
  }
  .typo-bright {
    --tw-typo-headings: #fff;
    --tw-typo-body: #fff;
    --tw-typo-links: #003333;
  }

  .typo-colors :where(p, a, ul, ol, blockquote, .typo-color) {
    color: var(--tw-typo-body);
    font-family: var(--lexend-font);
  }

  .typo-colors :where(a) {
    color: var(--tw-typo-links);
    font-family: var(--lexend-font);
  }

  .garamondFont {
    color: var(--tw-typo-headings);
  }

  .typo-colors :where(.typo-header) {
    color: var(--tw-typo-headings);
    font-family: var(--eb_garamond-font);
  }

  .typo-spacings :where(h1, h2, h3, h4, p, a, ul, ol, blockquote) {
    @apply mb-[1.2em] last:mb-0;
  }

  .typo-weights :where(h1) {
    @apply font-black;
  }
  .typo-weights :where(h2) {
    @apply font-extrabold;
  }
  .typo-weights :where(h3, h4) {
    @apply font-bold;
  }
  .typo-sizes :where(ul, ol):not(.list-none) li {
    @apply mb-3;
  }

  ul::marker {
    color: var(--tw-typo-light);
  }

  .typo blockquote {
    @apply italic relative pl-3 border-l-8 py-3 font-semibold;
    color: var(--tw-typo-bold);
    border-color: var(--tw-typo-light);
  }

  .connectedDots .bullet {
    @apply text-primary;
  }

  .connectedDots li:not(:last-child) .connectedDots-content {
    @apply pb-16;
  }

  .connectedDots li {
    @apply break-words;
  }

  .text-right .connectedDots li {
    @apply flex-row-reverse;
  }
  .text-right .connectedDots .bullet {
    @apply mr-0;
  }

  .connectedDots .bullet {
    @apply w-8 shrink-0 flex flex-col  items-center;
  }

  .connectedDots .line {
    @apply my-1;
  }

  .connectedDots li:last-child .line {
    background-color: transparent;
  }

  .header1Serif {
    @apply text-5xl lg:text-6xl;
  }

  .header1 {
    @apply text-2xl md:text-3xl text-secondary-dark;
  }

  .header2 {
    @apply text-lg md:text-xl text-secondary-dark;
  }
  .textBig {
    @apply text-xl;
  }
}
